#table {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
	padding-top: 40px;
	position: relative;
	}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
	
.navbar { 
	margin-bottom: 0;
	background-color: #0e0e07;
}
		
#sidebar{
	background-color: #0e0e07;
	color: white;
	height: 95rem;
	padding-top: 0;
}
		
label{
	padding-top: 15px;
	font-size: 16px !important;
}
		
#submitButton{
	padding-top: 10px;
}

.widget{

}